In [7]:
import pandas as pd

In [9]:
Numeros_en_texto = ['primero','segundo','tercero','cuarto','quinto','sexto','séptimo','octavo','noveno','décimo']
Numeros_serie_2 = pd.Series(Numeros_en_texto ,index=Numeros_en_texto)
Numeros_serie_2

primero    primero
segundo    segundo
tercero    tercero
cuarto      cuarto
quinto      quinto
sexto        sexto
séptimo    séptimo
octavo      octavo
noveno      noveno
décimo      décimo
dtype: object

In [18]:
import pandas as pd
indice = ["primero","segundo","tercero"]
numeros = [1,2,3]

# asi como numpy se utilizo np.arra([])
primera_serie = pd.Series(numeros,index=indice)
print(primera_serie)

primero    1
segundo    2
tercero    3
dtype: int64

In [19]:
primera_serie.index

Index(['primero', 'segundo', 'tercero'], dtype='object')

In [21]:
primera_serie.values

array([1, 2, 3])

In [24]:
import pandas as pd
data = {
    "calorias": [420,380,390],
    "duracion":[50,40,45]
    }
#crear el dataframe con datos:
df = pd.DataFrame(data)
#print(df)

   calorias  duracion
0       420        50
1       380        40
2       390        45

#pandas - dataFrame

In [33]:


import pandas as pd
dics = {
    'cilindros':[4,6,8],
    'caballos_de_fuerza':[400,600,800]
    }

print(dics)

{'cilindros': [4, 6, 8], 'caballos_de_fuerza': [400, 600, 800]}

In [35]:
primer_dataframe = pd.DataFrame(dics,index=["tsuru","bmw serie 3","Ford"])
print(primer_dataframe)

             cilindros  caballos_de_fuerza
tsuru                4                 400
bmw serie 3          6                 600
Ford                 8                 800

In [37]:
primer_dataframe.index

Index(['tsuru', 'bmw serie 3', 'Ford'], dtype='object')

In [39]:
primer_dataframe.values

array([[  4, 400],
       [  6, 600],
       [  8, 800]])

In [42]:

import pandas as pd

s1 = pd.Series([4,6,8])
s2 = pd.Series([250,350,450)
pd.dataFrame(s1s1.s2.index = ["tsuru","bmw serie 3","Ford"] )

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (657576251.py, line 4)

In [47]:
pd.DataFrame(s1,s2)

NameError: name 's1' is not defined

In [49]:
primera_serie("segundo")

TypeError: 'Series' object is not callable

In [52]:
primera_serie.log["segundo"]

AttributeError: 'Series' object has no attribute 'log'

In [55]:
primera_serie.iloc[]

SyntaxError: invalid syntax (392048248.py, line 1)

In [57]:
import pandas as pd
dics = {
    'cilindros':[4,6,8],
    'caballos_de_fuerza':[400,600,800]
    }

print(dics)

## Selecciond e datos ( Pandas DataFrame)
primer_dataframe = pd.DataFrame(dics,index=["tsuru","bmw serie 3","Ford"])
print(primer_dataframe)

             cilindros  caballos_de_fuerza
tsuru                4                 400
bmw serie 3          6                 600
Ford                 8                 800

In [60]:
primer_dataframe["cilindros"]

tsuru          4
bmw serie 3    6
Ford           8
Name: cilindros, dtype: int64

In [62]:
type(primer_dataframe["cilindros"])

pandas.core.series.Series

In [64]:
type(primer_dataframe) # primer_dataframe[["cilindros"]["caballos_de_fuerza"]]

pandas.core.frame.DataFrame

In [67]:
#en unn dataframe.loc[("condiciones"),columns]
primer_dataframe.loc[:,"cilindros"]

tsuru          4
bmw serie 3    6
Ford           8
Name: cilindros, dtype: int64

In [69]:
#en unn dataframe.loc[("condiciones"),columns]
primer_dataframe.loc[primer_dataframe.cilindros ==4,"cilindros"] # f.loc[df['a'] > 10, ['a’, 'c']]

tsuru    4
Name: cilindros, dtype: int64

In [73]:
#en unn dataframe.loc[("condiciones"),columns]
primer_dataframe.iloc[:,1] #condicitonal https://stackoverflow.com/questions/50292460/how-to-apply-a-condition-to-pandas-iloc

tsuru          400
bmw serie 3    600
Ford           800
Name: caballos_de_fuerza, dtype: int64

In [74]:
primer_dataframe

             cilindros  caballos_de_fuerza
tsuru                4                 400
bmw serie 3          6                 600
Ford                 8                 800

In [76]:
primer_dataframe.T

                    tsuru  bmw serie 3  Ford
cilindros               4            6     8
caballos_de_fuerza    400          600   800

In [91]:
# Sumar pandas Series

s1 = pd.Series([4,6,8,float(10)])
s2 = pd.Series([250,350,450])

In [92]:
s1 + s2

0    254.0
1    356.0
2    458.0
3      NaN
dtype: float64

In [93]:
s1.add(20) # se suma un valor a cada elemento de la serie

0    24.0
1    26.0
2    28.0
3    30.0
dtype: float64

In [89]:
s1.add(s2) # se suma cada elemento a elemento en el mismo indice

0    254.0
1    356.0
2    458.0
3      NaN
dtype: float64

In [94]:
s1.add(s2,fill_value=0)

0    254.0
1    356.0
2    458.0
3     10.0
dtype: float64

In [100]:
primer_dataframe.describe()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [102]:
primer_dataframe.T.describe().rodund(1)

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type